{% load static %}
<div class="container p-5">
  <div class="row">
    <div class="col-6">
      <img src="{% static 'book.jpg'%}" style="width: 90%" alt="books" />
    </div>
    <div class="col-6 text-center pt-5">
      <h1 class="">Welcome to <b>Book Hub</b></h1>
      <hr />
      <p class="">
        Book Hub is a comprehensive Library Management System designed to
        streamline and enhance the management of libraries of all sizes. With
        its user-friendly interface and robust functionality, Book Hub caters to
        both library administrators and patrons, offering a seamless experience
        for managing, borrowing, and reviewing books. Book Hub aims to make
        library management efficient and enjoyable, fostering a love for reading
        and learning within the community.
      </p>
      <hr />
    </div>
  </div>
</div>
