{% extends 'base.html' %}

{% load static %}
<title>{% block title %}Pass Change Page{% endblock title %}</title>
{% load crispy_forms_tags %}

{% block content %}
<form class="text-info" style="width: 50%; margin:auto;" method="post" novalidate>
    <h2 class="text-center text-info">Change Your Password Form Here</h2>
    {% csrf_token %}
    <!-- {{ form|crispy }} -->
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    <p class="text-danger p-2">{{fm.errors|striptags}}</p>
    {% endfor %}  
    <button class="btn btn-warning text-white">Submit</button>
</form>
{% endblock content %}